
<form class="container shadowbox" *ngIf="CoffeeCups; else InvalidId" [formGroup]="form" (ngSubmit)="submitForm()">

  <h2> Coffee Cups Log Details</h2>

  <div>
    <label for="quantity">Cups quantity: </label>
    <input class="input" id="quantity" type="number" name="quantity" formControlName="quantity">
  </div>

  <div *ngIf="form.controls.quantity.invalid && (form.controls.quantity.dirty || form.controls.quantity.touched)" class="validation-error">
    <div *ngIf="form.controls.quantity.errors?.['required']">The Cups quantity must be a positive number</div>
    <div *ngIf="form.controls.quantity.errors?.['min'] || form.controls.quantity.errors?.['max']">
      Cups quantity must be between 1 and 2147483647
    </div>
    <div *ngIf="form.controls.quantity.errors?.['pattern']">
      Cups quantity must be a positive integer
    </div>
  </div>

  <div>
    <label for="measure">Cup Measure: </label>
    <input class="input" id="measure" type="number" formControlName="measure">
  </div>

  <div *ngIf="form.controls.measure.invalid && (form.controls.measure.dirty || form.controls.measure.touched)" class="validation-error">
    <div *ngIf="form.controls.measure.errors?.['required']">The Measure quantity must be a positive number</div>
    <div *ngIf="form.controls.measure.errors?.['min'] || form.controls.measure.errors?.['max']">
      Measure quantity must be between 1 and 2147483647
    </div>
    <div *ngIf="form.controls.measure.errors?.['pattern']">
      Cups measure must be a integer
    </div>
  </div>

  <div>
    <label for="units">Cup Units:</label>
    <select class="select" formControlName="units" type="number" required>
      <option *ngFor="let unit of Units" [ngValue]="unit">{{UnitsMapping[unit]}}</option>
    </select>
  </div>

  <div>
    <label for="description">Description: </label>
    <textarea class="input" id="description" formControlName="description" rows="3" required></textarea>
  </div>

  <div *ngIf="form.controls.description.invalid && (form.controls.description.dirty || form.controls.description.touched)" class="validation-error">
    <div *ngIf="form.controls.description.errors?.['required']">The Description is required</div>
    <div *ngIf="form.controls.description.errors?.['minlength'] || form.controls.description.errors?.['maxlength']">
      The description must be between 3 and 400 characters.
    </div>
  </div>

  <div>
    <label for="date">Date: </label>
    <input class="input" id="date" type="date" formControlName="date">
  </div>
  <div>
    <button class="button info" type="button" (click)="goBack()">Return</button>
    <button class="button danger" type="button" (click)="deleteCoffeeCup(CoffeeCups.id)">Delete</button>
    <input class="button success" type="submit" value="Update">
  </div>

</form>

<ng-template #InvalidId>
  <div class="container shadowbox">
    <p> Not Found </p>
    <button class="button info" type="button" (click)="goBack()">go back</button>
  </div>
  
</ng-template>
