
<h3>Coffee overview:</h3>
<div>
    <button class="button" routerLink="/add">Add a coffee</button>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Blend</th>
                <th>Date</th>
                <th></th>
            </tr>
            <tr *ngFor="let coffee of coffees">
                <td>{{coffee.id}}</td>
                <td>{{coffee.numberOfCups}}x</td>
                <td>{{coffee.blend}}</td>
                <td>{{coffee.time | date:'dd/MM/yy'}}</td>
                <td><button>edit</button><button>delete</button></td>
            </tr> 
        </tbody>
    </table>
</div>

//todo next:
create detail component trough cmd
add it to routing and path /add towards it
