<div style="display: flex; align-items: center; justify-content: space-between;">
    <img src="assets/images/coffee.png" width="150" height="150" alt="Coffee">
    <h1>Coffee tracker</h1>
    <h3>
        <div>
            <form (ngSubmit)="filterCoffees(selectedDate.valueAsDate!)" #form=ngForm>
                <label for="selectedDate" style="margin-right: 20px">Filter date</label>
                <input type="date" style="margin-right: 20px" class="form-control" id="selectedDate" name="selectedDate" #selectedDate/>
                <button type="submit" class="btn" style="margin-right: 20px">
                  Filter
                </button>
                  <button class="btn" type="button" (click)="getCoffee(); selectedDate.value = ''">Show All</button>
              </form>
        </div>
    </h3>
</div>

<div style="display: flex; align-items: center; justify-content: space-between; margin-top: 20px; margin-bottom: 20px;">
    <h3>
        <form (ngSubmit)="onSubmit(addAmountOfCups.value)" #form=ngForm>
            <label for="addAmountOfCups" style="margin-right: 20px">Amount of cups:</label>
            <input type="text" style="height: 25px; margin-right: 20px" class="form-control" id="addAmountOfCups" name="addAmountOfCups" #addAmountOfCups/>
            <button type="submit" class="btn" style="margin-right: 20px">
                Add
            </button>
        </form>
    </h3>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Amount of cups</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coffee of coffeeData">
        <td>{{coffee.id}}</td>
        <td>{{coffee.amountOfCups}}</td>
        <td>{{coffee.timestamp | date:'dd-MM-yyyy'}}</td>
        </tr>
    </tbody>
</table>