<app-add-coffee-form />

<div class="container">
  <form (ngSubmit)="filterCoffees(searchDate.valueAsDate!)" #form=ngForm>
    <div class="row row-cols-lg-auto g-3 align-items-center mt-5 justify-content-center">
      <div class="col">
        <label class="visually-hidden" for="searchDate">searchDate</label>
        <input type="date" id="searchDate" name="searchDate" #searchDate/>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-success">
            Filter
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row mt-5">
  <table class="table table-striped table-hover">
    <thead class="table-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Type</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let coffee of coffees">
      <th scope="row" class="col">{{ coffee.id }}</th>
      <td class="col">{{ coffee.time | date : 'd MMM y' }}</td>
      <td class="col">{{ coffee.coffeeType }}</td>
      <td class="col">
        <button type="button" class="delete" title="delete coffee" (click)="deleteCoffee(coffee)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
