<form class="form" #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="coffee-card">
      <div class="coffee-record-header">
        <h1>Coffee Record</h1>
      </div>
      <div>
        <label for="coffee-amount">Coffee cups consumed: </label>
        <input id="coffee-amount" type="number" name="cupsOfCoffee" [(ngModel)]="coffeeRecord.cupsOfCoffee" placeholder="0" required #cupsOfCoffee="ngModel" min="0">
      </div>
      <div>
          <label for="coffee-date">The date of the record: </label>
          <input id="coffee-date" type="datetime-local" name="recordDate" [ngModel]="coffeeRecord.recordDate | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="coffeeRecord.recordDate=$event" placeholder="2023-.." required #inputDate="ngModel">
        </div>
        <div
          *ngIf="cupsOfCoffee.invalid && (cupsOfCoffee.dirty || cupsOfCoffee.touched)"
          class="alert"
        >
          <div *ngIf="cupsOfCoffee.errors?.['required']">Cups of coffee is required.</div>
          <div *ngIf="cupsOfCoffee.errors?.['min']">Cups of coffee cannot be negative.</div>
        </div>
        <div
          *ngIf="inputDate.invalid"
          class="alert"
        >
          <div *ngIf="inputDate.errors?.['required']">Date is required.</div>
        </div>
        <button type="submit" [disabled]="f.invalid">save</button>
  </div>
</form>
