div {
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-right: 4px;
  }
  
  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #deac76;
    color: #794022;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: left;
  }
  
  button:hover,
  button:active
   {
    background-color: #9965dd;
    color: #150722;
  }

  button.toDelete {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #a3b18a;
    color: #2a3b2d;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: left;
  }

  button.toDelete:hover,
  button.toDelete:active {
    background-color: #741111;
    color: #e2bb87;
  }

  button.history:hover,
  button.history:active {
    background-color: #deac76;
    color: #794022;
  }
  
  img {
    width: 2rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  span {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: normal;
  }