<div class="container mb-3">
    <form (ngSubmit)="onSubmit()" #coffeeForm="ngForm">
      <div class="row row-cols-lg-auto g-3 align-items-center mt-1 justify-content-center">
        <div class="col">
          <label class="visually-hidden" for="new-coffee-date">Date</label>
          <div class="input-group">
            <div class="input-group-text">Date</div>
            <input #time="ngModel" [(ngModel)]="coffee.time" class="form-control" id="new-coffee-date" name="time" required
                   type="date" />
          </div>
        </div>
        <div class="col">
          <label class="visually-hidden" for="new-coffee-type">Type</label>
          <div class="input-group">
            <div class="input-group-text">Type</div>
            <input #coffeeType="ngModel" [(ngModel)]="coffee.coffeeType" class="form-control" id="new-coffee-type"
                   name="coffeeType" required type="text"/>
          </div>
        </div>
        <div class="col">
          <button type="submit" [disabled]="!coffeeForm.form.valid" class="btn btn-success">
            Add Coffee
            <i class="fa fa-coffee" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
</div>
