<div *ngIf="coffee">
    <h2>Coffee consumption details:</h2>
    <div><span>id: </span>{{coffee.id}}</div>
    <div>
        <label for="coffee-blend">Coffee blend: </label>
        <input id="coffee-blend" [(ngModel)]="coffee.blend" placeholder="Blend"><br>
        <label for="coffee-number">Number of Cups: </label>
        <input id="coffee-number" [(ngModel)]="coffee.numberOfCups" placeholder="Number of cups"><br>
        <label for="coffee-time">Date of consumption</label>
        <input id="coffee-time" [(ngModel)]="coffee.time" placeholder="yyyy-mm-dd">
    </div>
    <button type="button" (click)="save()">Save Changes</button>
    <button type="button" (click)="goBack()">Back</button>
</div>
