/* Global Styles */

/* Headers */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

h2 {
    font-size: 2rem;
    color: #444;
}

h3 {
    font-size: 1.75rem;
    color: #555;
}

h4 {
    font-size: 1.5rem;
    color: #666;
}

h5 {
    font-size: 1.25rem;
    color: #777;
}

h6 {
    font-size: 1rem;
    color: #888;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Button Styles */
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

button:hover {
    background-color: #007bff;
    color: white;
}

/* Modal Styles */
.modal-content {
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.modal-header {
    background-color: #007bff;
    color: white;
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.modal-body {
    padding: 0.5rem;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

.modal-footer {
    padding: 0.5rem;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

/* Custom Modal Class Example */
::ng-deep.my-class.modal-dialog {
    background-color: yellow;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

::ng-deep.my-class.modal-content {
    color: white;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

::ng-deep.my-class.modal-header {
    background-color: red;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}

::ng-deep.my-class.modal-body {
    background-color: green;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}
