<div class="table-container">
    <div class="table-and-button">
        <div class="table-filter">
            <strong>Date Filter</strong>
            <select class="form-control"
                    [(ngModel)]="filterDate">
                <option [ngValue] = null></option>      
                <option *ngFor="let date of dates"
                    [ngValue]="date">{{ date.toDateString() }}</option>
            </select>
        </div>  
        <div class="table-wrapped">
            <table class="coffee-table">
                <thead>
                    <tr>
                        <th>Ammount consumed</th>
                        <th>When the record was created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tr *ngFor = "let coffeeRecord of coffeeRecords | tableFilter: filterDate">
                    <td>{{coffeeRecord.cupsOfCoffee}}</td>
                    <td>{{coffeeRecord.recordDate.toUTCString()}}</td>
                    <td class="table-actions">
                        <a routerLink="/update/{{coffeeRecord.coffeeRecordId}}">Edit</a>
                        <a (click)="delete(coffeeRecord)">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <a class="button" routerLink="/add">+</a>
    </div>
</div>

