<div class="table-container">
    <div class="table-and-button">
        <div class="table-wrapped">
            <table class="coffee-table">
                <thead>
                    <tr>
                        <th>Ammount consumed</th>
                        <th>When the record was created</th>
                    </tr>
                </thead>
                <tr *ngFor = "let coffeeRecord of coffeeRecords">
                    <td>{{coffeeRecord.cupsOfCoffee}}</td>
                    <td>{{coffeeRecord.recordDate.toLocaleDateString()}}</td>
                </tr>
            </table>
        </div>
        <a class="button" routerLink="/add">+</a>
    </div>
</div>
