*{
    font-family: Helvetica;
}
.coffee-table{
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
th, td{
    text-align: center;
    padding: 8px;
}
th{
    color: black;
    background-color: burlywood;
}
.table-wrapped{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    width: 50%;

}

.table-container{
    display: flex;
    width: 100%;
    justify-content: center;
}