/* Mobile */
@media (max-width: 771px) {
  .modal {
    width: 100%;
    padding: 20px;
  }

  label {
    font-size: 1rem;
  }

  input {
    font-size: 1rem;
  }

  .input__container {
    flex-direction: column;
    width: 100%;
  }
}
/* Desktop */
@media (min-width: 772px) {
  .modal {
    width: 75%;
    padding: 40px;
  }

  label {
    font-size: 1.25rem;
  }

  input {
    font-size: 1.25rem;
  }
}

.backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}

.modal {
  background-color: black;
  border: 4px solid var(--bloodRed);
}

.modal__header {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-between;
}

.modal__header > button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-bottom: 4px ridge var(--bloodRed);
  cursor: pointer;
  display: flex;
  fill: white;
}

.modal__header > button:hover {
  fill: var(--bloodRed);
}

form {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

input {
  background-color: black;
  border: none;
  border-bottom: 4px solid var(--bloodRed);
  color: white;
  outline: none;
  padding: 10px;
}

.input__container {
  align-items: center;
  display: flex;
  gap: 20px;
}

form > button {
  width: 100%;
}
